
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header .navbar-brand img {
max-width: 200px;
height: auto;
}

.header .navbar-nav {
margin-left: auto;
margin-right: auto;
}

.header .navbar-nav .nav-link {
margin-right: 80px;
color: #fff;
font-size: 20px;

}
.header .navbar-nav .nav-link:hover {
    color: #db222a
    
    }



.header .navbar-toggler {
margin-left: auto;
}

.header{
background-color: #052333;
}

.header .btn {
margin-left: 20px;
}

.header .navbarclass{
    margin-left: 96px;
}


/* //button designe  */

.decorative-space {
    display: inline-flex;
    margin: 1em;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    padding-top: 26px;
    box-sizing: border-box;
    height: 130px;
    width: 260px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .decorative-space::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .primary-button {
    display: block;
    background: transparent;
    cursor: pointer;
    position: relative;
    width: 224px;
    box-sizing: border-box;
    height: 68px;
    border: 0;
    color: #123440;
  }
  
  .primary-button__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 11px;
    bottom: 11px;
    left: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #db222a;
    color: #fff;
  }
  
  .primary-button::before {
    content: "";
    position: absolute;
    border: 2px solid #EBCBAD;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    top: 7px;
    right: 0;
    bottom: 0;
    left: 7px;
  }
  
  .primary-button:hover {
    color: #396d83;
  }
  
  .primary-button:focus {
    outline: none;
    
  }
  
  .primary-button:focus .primary-button__text {
    box-shadow: inset 0 0 0 1px #354a76, 0 0 0 1px #fff;
    border-radius: 4px;
  }
  
  .primary-button:active .primary-button__text {
    transform: translateX(9px) translateY(9px);
  }
  
  @media screen and (-ms-high-contrast: active) {
    .primary-button:focus {
      outline: auto 5px black;
    }
  
    .primary-button:focus .primary-button__text {
      box-shadow: none;
      border-radius: 0;
    }
  }